@import "tailwindcss";

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tech-wheel-spin {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}